.tile{
  background-color: #2d2d2d;
  }

  .description{
    color: rgb(229, 229, 229);
  }
  .badges{
    position: absolute;
    right: 28px;
    top:14px;
    width: 70px;
    height: auto;
  }
  
  .callout{
    position: absolute;
    right: 70px;
    top:40px;
    width: 200px;
    height: auto;
  
  }

  .tnwg {
    width:480px;
    height: auto;
    top:0px;
    position: absolute;
    right: 16px;
    border-radius: 16px;
    overflow: hidden;
  }
  

  

