.container {
    width: 100%;
    height: 100%;
    padding-left: 16px;
    box-sizing: border-box;
  }
  
  .menu {
    width: 100%;
    height: 100%;
    background-color: rgba(66, 63, 63, 0.659);
    border-top-left-radius: 16px;
    padding-left: 16px;
    padding-top: 8px;
    font-size: 1.75rem;
    color: white;
    backdrop-filter: blur(100px);
  }
  
  .option {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: filter 0.3s ease;
  }
  
  
  .special {
    background-color: #3281DC;
    width: 120%;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .extended{
    margin-left: -20px;
    
  }
  