.sideby {
    width: 100%;
    display: flex;
    border:1px solid #E5E7ED;
  }

  .sect{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:0px;
    padding-top: 48px;
    padding:32px;
    padding-bottom:48px;
  }

  .graph{
    margin-top:32px;
    display: flex;
    flex-direction: column;
    gap:16px;

  }


  .row{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    gap:16px;
  }

  .bar1{
    flex: 1;
    height:48px;
    background-color: rgb(255, 159, 90);
    border-radius: 8px;
  }

  .bar2{
    flex: 1;
    height:48px;
    background-color: rgb(216, 216, 216);
    border-radius: 8px;
  }

  .spacer{
    flex: 1;
  }

  .description{
    flex-shrink: none;
    font-weight:600;
    color:rgb(97, 97, 97);
  }

  .big{
    font-weight: 600;
    color:rgb(48, 48, 48);
    margin-bottom:.5rem;
  }

  .body{
    color: #505967;
    
  }

  .divider{
      width: 1px;            /* thin vertical line */
      background-color: #E5E7ED;
      margin: 0 16px;    
  }
  
  .line{
    width:100%;
    height:260px;
    position: relative;
    clip-path: inset(0 0 100% 0);
    animation: reveal 1s forwards cubic-bezier(0.77, 0, 0.175, 1);

  }

  @keyframes reveal {
    to {
      clip-path: inset(0 0 0 0);
    }
  }

  @media (max-width: 700px) {

    .sideby {
      flex-direction: column;
    }
    .sect {
      border-bottom: 1px solid #E5E7ED;
    }
    .sect:last-of-type {
      border-bottom: 0; /* no double line at the end */
    }
  }

