.contained {
    width:85%;
    gap:16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

}

.chunkone{
    position: relative;
    height: 150px;
    border-radius: 24px;
    overflow: hidden;
    border-radius: 24px;
    border: 1px solid rgb(220, 220, 220);
}

.picstyle{
    object-fit: contain;
    
    overflow: hidden;
}


.chunktwo{
    position: relative;
    height: 119px;
    background-color: #0D1113;
    overflow: hidden;
    border-radius: 24px;
}