.container {
    position: relative;
    width: 100%;
    height:100%;
    max-width: 976px; /* Adjust this for size */
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    width: 100%;
    height: 100%;

    object-fit: contain; /* or 'contain' to see full video */
    cursor: pointer;
    object-position: center;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .playButton {
    position: absolute;
    bottom: 32px;
    left: 32px;
    width:56px;
    height:56px;
    border-radius:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-size: 48px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .playButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }