.bar{
    display: flex;
    width:100%; 
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top:3rem;
    border-top: 1px solid rgb(239, 239, 239);
    align-items: center;
    padding-top:1rem;
    padding-bottom: 1rem;
    position: relative;
    box-sizing: border-box;
    /* background-color: rgb(239, 239, 239);; */
}

.but{
    border: 1px solid rgb(231, 231, 231);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 24px;
    font-size:.75rem;



}

.prev{
    position: absolute; 
    left: 0;
   
}

.next{
    position: absolute; 
    right: 0;
    
}

.swatch{
    height:50px;
    background-color: rgb(255, 185, 110);
    width:50px;
    border-radius: 8px;
}


.precede{
    margin-bottom: 8px;
    font-size: .75rem;
    font-weight: 500;
    margin-left: .5rem;
    
}