:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size:16px;
  --spacing: .25rem;
  --radius: 24px;
  --tone: #f6f6f6;
  --tilepad: 24px;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

::selection {
  background-color: #fff1b7; /* Sets the background color of the selection */
  color:  #252525; /* Sets the text color within the selection */
}
